{% extends './base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}
{% block body %}
<div class="main mt-5 mb-4 mx-auto w-75 h-50 d-flex flex-column  align-items-start justify-content-around">
  <button type="span" class="btn btn-colorg btn-lg ml-4 mb-2 mt-4 rounded"><span class="font-weight-bold">About the
      Project</span></button>
  <div class="about ml-5 mt-3 ">
    <p> The COVID-19 is an unparalleled crisis leading to a huge number of casualties and security problems. To reduce
      the spread of coronavirus, people often wear masks to protect themselves. This makes face recognition a very
      difficult task since certain parts of the face are hidden. We've thus built an application that render users'
      camera and captures each instance to check the whether user has worn a mask or not.</p>
  </div>
  <br>
  <button type="span" class="btn btn-colorg btn-lg  ml-4 mb-3 mt-5 rounded"><span class="font-weight-bold">Technology
      Used</span></button>
  <div class="about mt-3 ml-5">
    <a href="https://www.python.org/" target="_blank">
      <img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white"
        alt="drawing" /></a>
    <a href="https://www.tensorflow.org/" target="_blank">
      <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=TensorFlow&logoColor=white"
        alt="drawing" /></a>
    <a href="https://keras.io/" target="_blank">
      <img src="https://img.shields.io/badge/Keras-D00000?style=for-the-badge&logo=Keras&logoColor=white"
        alt="drawing" /></a>
    <a href="https://opencv.org/" target="_blank">
      <img src="https://img.shields.io/badge/OpenCV-27338e?style=for-the-badge&logo=OpenCV&logoColor=white"
        alt="drawing" /></a>
    <a href="https://www.djangoproject.com/" target="_blank">
      <img src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=white"
        alt="drawing" /></a>
    <a href="https://getbootstrap.com/" target="_blank">
      <img src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white"
        alt="drawing" /></a>
    <a href="https://www.figma.com/" target="_blank">
      <img src="https://img.shields.io/badge/Figma-F24E1E?style=for-the-badge&logo=figma&logoColor=white"
        alt="drawing" /></a>
  </div>

</div>
{% endblock %}